<configuration>
  <!-- Production Configuration 
  <connectionStrings>
    <add name="SanjelData" connectionString="Data Source=sanjel25\App;Initial Catalog=SanjelData;User ID =eservice6;Password=Cg!Aw@Vm#2018" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="applicationContext" value="production" />
    <add key="EServiceApiAddress" value="http://Sanjel04.snj.local/eserviceMDM.webapi/6.11.3.0/" />
    <add key="cachePath" value="C:\EServiceR6Data" />
    <add key="enableDirectInvoke" value="true" />
    <add key="timeInterval" value="180000"/>
    <add key="printOutFilePath" value="C:\JobChartPrintOut\" />
    <add key="AppServiceAddress" value="https://app-drb-prod-westus2.azurewebsites.net/"/>
		<add key="SendCrewNotification" value="true" />
   </appSettings>
End Production Configuration-->

   <!-- Test Configuration 
  End Test Configuration-->
 
  <!-- UAT Configuration 
  End UAT Configuration-->
  <connectionStrings>
    <add name="SanjelData" connectionString="Data Source=sanjel23\App;Initial Catalog=SanjelDataUAT;User ID =eservice6;Password=sanjel" providerName="System.Data.SqlClient" />	
  </connectionStrings>
	
	<appSettings>
        <add key="applicationContext" value="releaseua" />
        <add key="EServiceApiAddress" value="http://Sanjel08.snj.local/eserviceMDMUAT.webapi/6.11.4.0/" />
        <add key="cachePath" value="C:\EServiceR6Data" />
        <add key="enableDirectInvoke" value="true" />
        <add key="timeInterval" value="180000"/>
        <add key="printOutFilePath" value="C:\JobChartPrintOut\" />
        <add key="AppServiceAddress" value="https://app-drb-uat-westus2.azurewebsites.net/"/>
        <add key="SendCrewNotification" value="true" />
	</appSettings>

  <!-- QA Configuration 
  <connectionStrings>
    <add name="SanjelData" connectionString="Data Source=sanjel23\App;Initial Catalog=SanjelDataQA;User ID =eservice6;Password=sanjel" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="applicationContext" value="qa" />
    <add key="EServiceApiAddress" value="http://Sanjel08.snj.local/eserviceMDMQA.webapi/" />
    <add key="cachePath" value="C:\EServiceR6Data" />
    <add key="enableDirectInvoke" value="true" />
    <add key="timeInterval" value="180000"/>
    <add key="AppServiceAddress" value="https://app-drb-preuat-westus2.azurewebsites.net/"/>
  </appSettings>
  End QA Configuration-->

<!-- Dev Configuration 
  <connectionStrings>
    <add name="SanjelData" connectionString="Data Source=sanjel23\App;Initial Catalog=SanjelDataDRB;User ID =App_drb_User;Password=sanjel" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="applicationContext" value="shared" />
    <add key="EServiceApiAddress" value="http://Sanjel08.snj.local/eserviceMDMDRB.webapi/" />
    <add key="cachePath" value="C:\EServiceR6Data" />
    <add key="enableDirectInvoke" value="true" />
    <add key="timeInterval" value="180000"/>
    <add key="AppServiceAddress" value="https://app-drb-dev-westus2.azurewebsites.net/"/>
  </appSettings>
End Dev Configuration-->


  <!-- Sustainment Configuration 
  <connectionStrings>
      <add name="SanjelData" connectionString="Data Source=10.0.1.9;Initial Catalog=SanjelData;User ID =sa;Password=Meta123$%^" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="applicationContext" value="sustainment" />
    <add key="EServiceApiAddress" value="http://10.0.1.9/eserviceMDMTest.webapi/6.6.3.1/" />
    <add key="cachePath" value="C:\EServiceR6Data" />
    <add key="enableDirectInvoke" value="true" />
    <add key="timeInterval" value="180000"/>
  </appSettings>
    End Sustainment Configuration-->


  <!-- Sustainment Configuration 
  <connectionStrings>
    <add name="SanjelData" connectionString="Data Source=localhost;Initial Catalog=SanjelData;User ID =sa;Password=Aasdf1234" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="applicationContext" value="sustainment" />
    <add key="EServiceApiAddress" value="http://localhost:44706/MDMApi/" />
    <add key="cachePath" value="C:\EServiceR6Data" />
    <add key="enableDirectInvoke" value="true" />
    <add key="timeInterval" value="180000"/>
  </appSettings>
    End Sustainment Configuration-->


  <runtime>
    <gcServer enabled="true"/>
  </runtime>
</configuration>