<div id="is_confirm_jump">
        <div style="margin-top: 20px; padding: 0 10px 0 10px; text-align: left;">@ViewBag.ErrorMessage</div>
        <div div class="button_container">
            <input class="confirmDialog_button" type="button" value="Close" onclick="eServiceOnline.Site.prototype.CloseDialog()" />
        </div>
</div>