@using System.ComponentModel

@using (Html.BeginForm("UpdateRigStatusToDown", "RigBoard", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="sj_dialog_body sj_lsd_ud">
        <div class="det_list" style="text-align: center">
            <label>You are changing Rig Status from Active to @ViewBag.DownStatus. Please Confirm.</label>
            <input type="hidden" name="RigId" id="RigId" value="@ViewBag.RigId" />
            <input type="hidden" name="DownStatus" id="DownStatus" value="@ViewBag.DownStatus" />
        </div>
    </div>

    <div class="sj_dialog_foot">
        <input type="submit" class="yes" value="Yes" /> <input type="button" value="No" class="no" onclick="eServiceOnline.Site.prototype.CloseDialog()" />
    </div>
}

