@model eServiceOnline.Models.ProductHaul.ShippingLoadSheetModel
@{
    var IsStatic = (bool)ViewData["isStatic"];
}
<div class="det_list">
    <label class="det_label">Bulk Plant/Rig</label>
    <div class="det_text" id="bulk_plant_select">
        @if (IsStatic)
        {
            @Html.TextBoxFor(model => model.RigName, new { @class = "sj_text", @readonly = true })
            @Html.HiddenFor(m => m.RigId)
        }
        else
        {
            @(this.Html.DropDownListFor(model => model.RigId, new SelectList(this.ViewBag.Rigs, "Id", "Name"),
                "None", new {onchange = "loadRigBinInformations()", @class = "sj_select"}))
            @Html.HiddenFor(m => m.RigName)
        <div id="RigBulkPlant_Required" style="display: none; color: red;">Bulk Plant/Rig is required</div>
        }
    </div>
</div>