@using eServiceOnline.Models.ProductHaul
@model eServiceOnline.Models.ProductHaul.CancelBlendViewModel

@using (Html.BeginForm("CancelBlendRequest", "ProductHaul", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return ValidateData()" }))
{
    @Html.HiddenFor(m => m.ProductHaulLoadId)
    @Html.HiddenFor(m => m.ProductHaulId)
    <div id="is_confirm_jump">
        <div style="margin-top: 20px; padding: 0 10px 0 10px; text-align: center;">
            <label>Are you sure you want to cancel the blend request ?</label>
        </div>
        <div style="text-align: center; margin: auto; line-height: 100px;">
            <div class="sj_dialog_foot">
                <input type="submit" class="yes" value="Yes" /> <input type="button" value="No" class="no" onclick="eServiceOnline.Site.prototype.CloseDialog()" />
            </div>
        </div>
    </div>
}
<script>
    function ValidateData() {
        return true;
    }
</script>
