@model eServiceOnline.Models.ProductHaul.ProductLoadInfoModel
<div class="det_list">
    <label class="det_label">Comments</label>
    <div class="det_text">@Html.TextAreaFor(model => model.Comments, new { @class = "sj_textarea" })</div>
</div>