@model eServiceOnline.Models.ProductHaul.ProductHaulModel
<div class="det_list" id="existing_isThirdParty">
    <label class="det_label">Third Party</label>
    <div class="det_text" id="div_existing_thirdParty">
        <input type="checkbox" id="existing_thirdParty" name="existing_thirdParty" disabled="true" />
    </div>
</div>