@*@model eServiceOnline.Models.ProductHaul.ProductHaulModel*@
<div class="sj_dialog_foot">
    <input type="submit" id="sj_createProductHual" value="Save" onclick="return scheduleValidations.validate()" />
</div>