<?xml version="1.0"?>
<configuration>
  <!-- Production Configuration 
End Production Configuration-->
  <connectionStrings>
    <add name="SanjelData" connectionString="Data Source=sanjel25\App;Initial Catalog=SanjelData;User ID =eservice6;Password=Cg!Aw@Vm#2018" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="applicationContext" value="production" />
    <add key="EServiceApiAddress" value="http://Sanjel04.snj.local/eserviceMDM.webapi/6.11.0.0/" />
    <add key="cachePath" value="C:\EServiceOLData" />
    <add key="messageQueuePath" value="MessageQueueEx\" />
    <add key="timeInterval" value="180000"/>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="smtpServer" value="smtp.office365.com" />
    <add key="EnableSsl" value="true" />
    <add key="traceServerReceivedData" value="true"/>
    <add key="traceServerReceivedFailedData" value="true"/>
    </appSettings>
  
  <!-- UAT Configuration 
  <connectionStrings>
    <add name="SanjelData" connectionString="Data Source=sanjel23\App;Initial Catalog=SanjelDataUAT;User ID =eservice6;Password=sanjel" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="applicationContext" value="releaseua" />
    <add key="EServiceApiAddress" value="http://Sanjel08.snj.local/eserviceMDMTUAT.WebApi/6.11.0.0/" />
    <add key="cachePath" value="C:\EServiceOLData" />
    <add key="messageQueuePath" value="MessageQueueEx\" />
    <add key="timeInterval" value="180000"/>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="smtpServer" value="smtp.office365.com" />
    <add key="EnableSsl" value="true" />
    <add key="traceServerReceivedData" value="true"/>
    <add key="traceServerReceivedFailedData" value="true"/>
  </appSettings>

End UAT Configuration-->


  <!-- Support Configuration 
  <connectionStrings>
    <add name="SanjelData" connectionString="Data Source=sanjel23\App;Initial Catalog=SanjelData;User ID =eservice6;Password=sanjel" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="applicationContext" value="support" />
    <add key="EServiceApiAddress" value="http://Sanjel08.snj.local/eserviceMDMTest.webapi/6.8.1.10/" />
    <add key="cachePath" value="C:\EServiceOLData" />
    <add key="messageQueuePath" value="MessageQueueEx\" />
    <add key="timeInterval" value="180000"/>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="smtpServer" value="smtp.office365.com" />
    <add key="EnableSsl" value="true" />
    <add key="traceServerReceivedData" value="true"/>
    <add key="traceServerReceivedFailedData" value="true"/>
  </appSettings>
End Support Configuration-->

  <!-- Sustainment Configuration 
  <connectionStrings>
      <add name="SanjelData" connectionString="Data Source=10.0.1.9;Initial Catalog=SanjelData;User ID =sa;Password=Meta123$%^" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="applicationContext" value="sustainment" />
    <add key="EServiceApiAddress" value="http://10.0.1.9/eserviceMDMTest.webapi/6.6.3.1/" />
    <add key="cachePath" value="C:\EServiceOLData" />
    <add key="timeInterval" value="180000"/>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
    End Sustainment Configuration-->
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="commonEndpointBehavior" type="Sanjel.Common.Core.WcfExtensions.CommonBehaviorExtensionElement, Sanjel.Common.Core, Culture=neutral"/>
      </behaviorExtensions>
    </extensions>
    <bindings>
      <wsHttpBinding>
        <binding name="defaultBinding" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" maxReceivedMessageSize="1048576000">
          <readerQuotas maxStringContentLength="104857600" maxArrayLength="104857600"/>
          <security mode="None"/>
        </binding>
      </wsHttpBinding>
      <!-- Add for file Mtom transfer -->
      <basicHttpBinding>
        <binding name="streamedBinding" transferMode="Streamed" maxBufferSize="104857600" maxReceivedMessageSize="1048576000" messageEncoding="Mtom" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:30:00" sendTimeout="00:30:00">
          <readerQuotas maxStringContentLength="104857600" maxArrayLength="104857600"/>
          <security mode="None"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="defaultBehavior" name="Sanjel.Common.Messaging.MessageReceiver">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="defaultBinding" contract="Sanjel.Common.Messaging.IMessageReceiver"/>
        <endpoint address="test" behaviorConfiguration="commonBehavior" binding="wsHttpBinding" bindingConfiguration="defaultBinding" contract="Sanjel.Common.Messaging.IMessageReceiver"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="commonBehavior" />
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="defaultBehavior">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" />
          <dataContractSerializer maxItemsInObjectGraph="104857600" />
          <serviceThrottling maxConcurrentCalls="100000" maxConcurrentSessions="10000" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
